*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: rgb(255,220,255);
}

header{
  margin-top: 1em;
}

li.menu a{
  text-decoration: none;
  color: #fff;
}

ul.menus{
  display: flex;
  justify-content: space-evenly;
  gap:6px;
}

ul.menus li{
  list-style: none;
}

li.menu{
  background: #222;
  padding: 0.2em 0.4em;
}

main{
  margin:1em 0 4em 0;
}

footer{
  position: fixed;
  bottom: 0;
  min-width: 100%;
  text-align: center;
  font-size: 1.4rem;
  background: #222;
  color: #fff;
  padding-block: 0.4em;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#add-student-form{
  display: grid;
}

.form-text-input{
  max-width: 400px;
  height: 40px;
}

#button, #find-button{
  padding: 1em 2em;
}

.g{
  background: gray;
  width: 80%;
  margin-inline: auto;
  padding: 1em;
  border-radius: 12px;
}

/*---find.html---*/
.student-div {
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.student-info h3, .student-info p {
  margin: 10px 0;
}

.student-info strong {
  color: #333;
}
